<div class="main">
    <div class="picture">
        <marquee behavior="scroll" direction="up" scrollamount="2" [height]="850">
            <p class="text">The Deserted Island...</p>
            <br>
            <br>
            <br>
            <p class="text">You wake up on the shore of a deserted island.</p>
            <br>
            <br>
            <br>
            <p class="text">There is nothing but the beach, the forest</p>
            <p class="text">and the endless sea.</p>
            <br>
            <br>
            <p class="text">But you have with you:</p>
            <br>
            <p class="text">Courage,</p>
            <p class="text">Persistance and</p>
            <p class="text">Determination</p>
            <br>
            <br>
            <br>
            <p class="text">Perform exercises to collect useful resources.</p>
            <p class="text">They will allow you to reach the goal of this Journey:</p>
            <br>
            <br>
            <p class="text big">Leave the Deserted Island!</p>
            <br>
        </marquee>
    </div>
    <button type="button" class="btn btn-outline-dark button" (click)="navigate()">Start Game</button>

    <!-- <audio controls>
        <source src="assets/musics/ambiance-calm-ocean.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio> -->
</div>



