<div class="menu">
    <br>
    <p class="text">The Deserted Island proposes a Challenge</p>
    <p class="text">where a player must overcome a serie of</p>
    <p class="text">exercises to simulate survival activities.</p>
    <br>
    <p class="text">By realizing execises, resources are gathered,</p>
    <p class="text">allowing the player to possibly reach the Final Goal:</p>
    <br>
    <p class="text big">Leave the Deserted Island!</p>
    <br>
    <button (click)="navigate()"> Start Game</button>
</div>

