.container{
    /* background-image: url('../../static/island-hut.jpg'); */
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 1000px;
}

.text{
    font-family: cursive;
    color: white;
}

.button{
    margin: 10px;
}