
<div class="pregame form-group">
    <p class="title"> Customise your adventure</p>
    <br>
    <p class="text">Exercise Type</p>
    <select class="form-select-lg mb-3 text" required aria-label=".form-select-lg" (change)="getAvailableBodyPartNames($event)" name="exerciseTypeName" [(ngModel)]="gameSettings.exerciseTypeName">
        <option *ngFor="let exercise of exerciseTypes" [disabled]="exercise.disabled" [selected]="exercise.selected"
            [value]="exercise.value">{{exercise.name}}</option>
    </select>
    <br>
    <p class="text">Body Part</p>
    <select class="form-select form-select-lg mb-3 text" aria-label=".form-select-lg" required (ngModel)="gameSettings.bodyPartName" name="bodyPartName">
        <option id="bodyPart" *ngFor="let bodyPart of bodyParts" [disabled]="bodyPart.disabled" [selected]="bodyPart.selected"
            [value]="bodyPart.value" >{{bodyPart.name}}</option>
    </select>
    <br>
    <p class="text">Exercise Time Length (in seconds)</p>
    <input id="exerciseTime" [(ngModel)]="gameSettings.exerciseTimeLength" name="exerciseTimeLength" type="number" pattern="[0-9]+" class="text" required />
    <br>
    <p class="text">Recovery Time Length (in seconds)</p>
    <input id="recoveryTime" type="number" pattern="[0-9]+" class="text" [(ngModel)]="gameSettings.recoveryTimeLength" name="recoveryTimeLength" required />
    <br>
    <button class="button text" (click)="navigate(); saveGameSettings()">Start adventure</button>
</div>